* {
  margin: 0%;
  font-family: Poppins;
  padding: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  max-width: 998px;
  background-image: url("new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --mainBac: #f2f5fc;
  --purple-color: #705fe7;
  --outer-color: #7e2beb;
  --text-color: #012970;
}
header {
  position: relative;
  width: 100%;
  height: 10vh;
}
nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.realmann {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bars {
  margin: 0% 0em 0 4em;
  color: var(--purple-color);
}
.label {
  color: var(--outer-color);
  padding-left: 1em;
  font-weight: 500;
  font-size: 1rem;
}
.navlinks{
  position: absolute;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height:0vh;
transition: height .5s ease-in;
  box-shadow: 1px 1px  1px var(--purple-color);
  background-color: var(--outer-color);
}
.navlinks.active{
    height: 20vh;
}
ul {
  position: relative;
  align-items: center;
  width: 100%;
  display: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--mainBac);
}
main {
  display: flex;
  flex-direction: column-reverse;
}
img[alt="clip"] {
  width: 90%;
  margin: auto;
  padding: 0 2em;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  margin: 2em;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.1rem;
}
.tous {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--outer-color);
  width: 12em;
  transition: 0.2s;
  color: var(--mainBac);
  height: 3em;
  overflow: hidden;
  padding: 0.9em 1.8em;
}
.fa-arrow-right {
  padding-left: 0.2em;
  font-size: 1.2rem;
}
@media (min-width: 998px) {
  body {
    height: 100vh;
  }
  nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
  }
  header {
    top: 0%;
    position: absolute;
    height: 8vh;
    z-index: 200;
  }
  .fa-bars {
    display: none;
  }
  img[alt="icon"] {
    height: 7vh;
    margin: 0 0 0 2em;
  }
  .label {
    font-size: 1.5rem;
    padding: 0 1em;
  }
  .navlinks {
    position: static;
    background-color: transparent;
    box-shadow: 1px 1px 1px transparent;
  }
  .nav {
    margin-right: 5em;
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--mainBac);
  }
  li {
    padding: 0.3em 1.2em;
  }
  ul {
    list-style: none;
  }
  .realmann {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    align-items: center;
    color: var(--text-color);
  }
  .contact {
    border: 1.5px solid var(--mainBac);
    border-radius: 25px;
  }
  .contact:hover {
    background-color: var(--outer-color);
  }
  main {
    height: 92vh;
    top: 8vh;
    position:absolute;
    flex-direction: row;
  }
  img[alt="clip"] {
    height: auto;
    width: 48%;
  }
  .text {
    margin: 0%;
    font-weight: 600;
    font-size: 2em;
  }
  .body {
    margin: 0% 5em;
  }
  .tous {
    border: none;
    padding: 0 0.2em;
    width: 9em;
    height: 3em;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight: 300;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: width 0.1s linear;
  }
  .talks {
    position: relative;
    left: 7px;
  }
  .fa-arrow-right {
    position: relative;
    right: -25px;
    transition: 0.2s;
  }
  .tous:hover {
    background-color: var(--purple-color);
    width: 10em;
  }
  .tous:hover .talks {
    left: -7px;
  }
  .tous:hover .fa-arrow-right {
    right: 3px;
  }
}
